*{
    margin: 0;
    padding: 0;
    


}
body{
    background-image: url('gym4.jpg');
    background-size:100% 100%;
     background-repeat: no-repeat;
    background-attachment: fixed;
}


.navbar{
    width: 1200px;
    height: 75px; ;
    margin:auto ;


}
.icon{
    width: 200px;
    float: left;
    height: 70px; ;


}
.logo{
    color: #20ffff;
    font-size: 20px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    
}

.menu{
    width: 750px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display:flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 45px;
    margin-top: 27px;
    font-size: 14px;
}

ul li{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #00ff84;
}
ul li a{
    color: #f7f9f8;
}



.srch{
    font-family:'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px;
    margin-top: 13px;
    color: #fbf9f9;
    border-right: none;
    font-size: 16px;
    float: left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 70px;
    height: 25px;
    background: #ff7200;
    border: 2px solid #0a0a0a;
    margin-top: 20px;
    color: #070707;
    font-size:15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    
}
.btn:hover{
    background-color: #00ff84;
    color: #020202;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 400px;
    text-align: center;
    margin: 50px 0px 0px 400px;
    color: #fafcfc;
    
}

.content button{
    width: 100px;
    height: auto;
    margin: 50px;
    color: #f6f6f8;
    position: relative;
    padding:10px ;
    background: transparent;
    border: 0px solid #f8f6f6 ;
    border-radius: 100px;
    background-color:#f6e20c;
    transition: 0.4 ease;
    
}
.content button:hover{
    background: #0956db;
    color: #00ff84;
}

.content button a{
    color: #0b0a00;
}

.form{
    width: 250px;
    height: 410px;
    background: linear-gradient(to top, rgba(3, 3, 3, 0.662)50%,rgba(10, 10, 10, 0.8)50%);
    position: absolute;
    top: 90px;
    left: 60px;
    border-radius: 15px;
    padding: 25px;

}

.form h2{
    width: 250px;
    font-family: sans-serif;
    text-align: center;
    color: #060606;
    font-size: 22px;
    background-color:#2aa38f;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
.form input{
    width: 200px;
    height: 30px;
    background:transparent;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid ;
    border-right: none;
    border-left: none;
    color: #fdfdfd;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}



.form input :focus{
    outline:none;
}

::placeholder{
    color: #fdfcfc;
    font-family: Arial;

}

.btn1{
    width: 200px;
    height: 40px;
    background-color: #e4e412;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #0b0b0a;
    transition: 0.4s ease;

}
.btn1:hover {
    background: #b72121;
    color: #000000;
}

.btn1 {
    text-decoration: none;
   
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #b72121;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #f6f6f8;
}
.icon ion-icon{
    color: #f6f6f8;
    font-size: 16px;
    padding-left: 14px;
    padding-top: 4px;
    transition: 0.3 ease;
 }

 .icon ion-icon:hover{
    color: #2214ee;
 }

